
.emptyCart{
  margin: 10vh auto;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .emptyCart > svg {
    font-size: 5vmax;
    color: #7A301B;
  }
  .emptyCart > p {
    font-size: 2vmax;
  }
  .emptyCart > a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 1vmax "League Spartan", sans-serif;
    text-decoration: none;
  }
  
  .cartPage {
    padding: 8vh 0;
    overflow: scroll;
  }
  
  /* .cartHeader {
    background-color: #C95741E5;
    box-sizing: border-box;
    margin: auto;
    color: white;
    display: grid;
    padding: 0 10px;
    grid-template-columns: 3fr 1fr 1fr;
    font: 300 0.7vmax "Roboto";
  }
  .cartHeader > p {
    margin: 10px;
  }
  .cartHeader > p:last-child {
    text-align: end;
  } */

  .cartContainer {
    font-family: "League Spartan", sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.5vmax;
    padding-bottom: 1vmax;
    border-top: 0.5px solid #7A301B;
  }

  .cartInput {
    border: 2px solid #C95741;
    overflow: hidden;
    border-radius: 3px;
    width: auto;
    display: flex;
    align-items: center;
    height: auto;
    position: absolute;
    left: 35%;
    bottom: 12%;
  }
    
  .cartInput  button {
    border-radius: 0;
    background-color: #C95741;
    cursor: pointer;
    color: white;
    width: 30px;
    transition: all 0.5s;
    padding: 0;
    font-size: 20px;
  }
  .cartInput > button:hover {
    background-color: #7A301B;
  }
   
  .cartInput > input {
    width: 4vmax;
    border: none;
    text-align: center;
    outline: none;
    font: 500 1.5vmax "League Spartan", sans-serif;
    color: rgba(0, 0, 0, 0.74);
  }

  

  .cartSubtotal {
    padding: 0 0.5vmax;
    font: 500 1.5vmax "League Spartan", sans-serif;
    color: rgba(0, 0, 0, 0.753);
    position: absolute;
    right: 5%;
    bottom: 12%;
  }

  
  .cartGrossProfitBox {
    border-top: 3px solid #7A301B;
    margin: 1vmax 0.5vmax;
    box-sizing: border-box;
    padding: 1vmax 0;
    display: flex;
    justify-content: space-between;
  }

  .cartGrossProfitBox p{
    font-size: 1.7vmax;
    padding-right: 10px;
    font-weight: 600;
    margin: 0 1vmax;
  }

  .tax-info-cart{
    padding: 0 1vmax 1.2vmax;
    font-size: medium;
    font-weight: 400;
    text-align: center;
    font-family: "League Spartan", sans-serif;
    width: 80%;
    margin: auto;
  }
  
  .checkOutBtn {
    display: flex;
    justify-content: end;
    padding: 0 1vmax;
  }
  .checkOutBtn > button {
    display: flex;
    background-color: #C95741;
    color: white;
    border: none;
    justify-content: center;
    padding: 1vmax 1vmax;
    width: 100%;
    font: 600 1.8vmax "quick sand", sans-serif;
    cursor: pointer;
    border-radius: 12px;
  }

  .total-price-text{
    text-align: end;
  }

  @media screen and (max-width: 780px) {
    .cartSubtotal{
      font-size: 16px;
      color: black;
    }
  }
  
  @media screen and (max-width: 600px) {
    .cartSubtotal{
      font-size: 13px;
    }
    .cartInput {
      border: 2px solid #7A301B;
      overflow: hidden;
      border-radius: 3px;
      width: auto;
      display: flex;
      align-items: center;
      height: auto;
      position: absolute;
      left: 45%;
      bottom: 17%;
  
    }
      
    .cartInput > button {
      border: none;
      cursor: pointer;
      color: white;
      width: 22px;
      transition: all 0.5s;
      padding: 0;
      font-size: 14px;
    }
    .cartInput > input{
      font-size: 12px;
    }
    .cartGrossProfitBox {
      border-top: 3px solid #7A301B;
      margin: 1vmax 1vmax;
      box-sizing: border-box;
      padding: 1vmax 0;
      font: 800 2vmax "Roboto";
      display: flex;
      justify-content: space-between;
    }
  }