.CartItemCard {
    display: flex;
    padding: 1vmax;
    height: 8vmax;
    align-items: flex-start;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
  }
  .CartItemCard > img {
    width: 7vmax;
    height: 7vmax;
    border-radius: 9px;
    border: 1px solid #C95741;
    object-fit: cover;
  }
  
  .CartItemCard > div {
    display: flex;
    margin: 0 1vmax;
    flex-direction: column;
    position: relative;
  }
  
  .CartItemCard > div > a {
    margin-top: 7px;
    font: 600 1.2vmax "League Spartan", sans-serif;
    color: rgba(24, 24, 24, 0.815);
    text-decoration: none;
  }
  
  .CartItemCard > div > span {
    margin-top: 0.8vmax;
    font: 600 1.1vmax "League Spartan", sans-serif;
    color: rgba(24, 24, 24, 0.815);
  }

  .CartItemCard > div > p{
    position: relative;
    left: 0px;
    top: 20px;
  }

  @media screen and (max-width: 1300px) {
    .CartItemCard > div > p{
      position: relative;
      left: 0px;
      top: 10px;
    }
  }

  @media screen and (max-width: 780px) {
    .CartItemCard{
      height: 9vmax;
    }
    .CartItemCard > img{
      width: 9vmax;
      height: 9vmax;
    }
    .CartItemCard > div > p{
      left: 0px;
      top: 5px;
    }
    .CartItemCard > div > span, .CartItemCard > div > a{
      font-size: 14px;
    }
  }
  
 @media screen and (max-width: 600px) {
  .CartItemCard {
    display: flex;
    padding: 1vmax;
    height: 10vmax;
    align-items: flex-start;
    
    box-sizing: border-box;
  }
  .CartItemCard > img {
    width: 9vmax;
    height: 9vmax;
    border-radius: 9px;
    border: 1px solid #e8704463;
    object-fit: cover;
    
  }
  
  .CartItemCard > div {
    display: flex;
    margin: 0 1vmax;
    flex-direction: column;
  }
  
  .CartItemCard > div > a {
    font: 400 14px  "League Spartan", sans-serif;
    color: rgba(24, 24, 24, 0.815);
    text-decoration: none;
  }
  
  .CartItemCard > div > span {
    margin-top: 0.8vmax;
    font: 600 13px "League Spartan", sans-serif;
    color: rgba(24, 24, 24, 0.815);
  }
  
  .CartItemCard > div > p {
    color: #7A301B;
    font: 100 4vmax "League Spartan", sans-serif;
    cursor: pointer;
    margin:  0;
    top: 0px;
    
    left: 0;
  }
  
  } 