
.emptyCart{
  margin: 10vh auto;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .emptyCart > svg {
    font-size: 5vmax;
    color: tomato;
  }
  .emptyCart > p {
    font-size: 2vmax;
  }
  .emptyCart > a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 1vmax "Roboto";
    text-decoration: none;
  }
  
  .cartPage {
    padding-top: 8vh;
  }
  
  /* .cartHeader {
    background-color: #E86F44E5;
    box-sizing: border-box;
    margin: auto;
    color: white;
    display: grid;
    padding: 0 10px;
    grid-template-columns: 3fr 1fr 1fr;
    font: 300 0.7vmax "Roboto";
  }
  .cartHeader > p {
    margin: 10px;
  }
  .cartHeader > p:last-child {
    text-align: end;
  } */

  .cartContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.5vmax 0;
    padding-bottom: 1vmax;
    border-top: 0.5px solid rgb(92, 184, 165);
  }

  .cartInput {
    border: 2px solid #E86F44E5;
    overflow: hidden;
    border-radius: 6px;
    width: auto;
    display: flex;
    align-items: center;
    height: auto;
    position: absolute;
    left: 36%;
    bottom: 15.5%;

  }
    
  .cartInput > button {
    border: none;
    background-color: #e87044e6;
    cursor: pointer;
    color: white;
    width: 30px;
    transition: all 0.5s;
    padding: 0.1vmax;
    font-size: 1.5vmax;
  }
  .cartInput > button:hover {
    background-color: #e87044e4;
  }
   
  .cartInput > input {
    width: 3vmax;
    border: none;
    
    text-align: center;
    outline: none;
    font: 300 1.2vmax "Roboto";
    color: rgba(0, 0, 0, 0.74);
  }

  

  .cartSubtotal {
    padding: 0 0.5vmax;
    font: 300 1.5vmax cursive;
    color: rgba(0, 0, 0, 0.753);
    position: absolute;
    right: 5%;
    bottom: 12%;
  }

  
  .cartGrossProfitBox {
    border-top: 3px solid rgb(92, 184, 165);
    margin: 1vmax 1vmax;
    box-sizing: border-box;
    padding: 1vmax 0;
    font: 300 1vmax "Roboto";
    display: flex;
    justify-content: space-between;
  }

  .tax-info-cart{
    padding: 0 1vmax 1.2vmax;
    font-size: x-small;
    text-align: center;
  }
  
  .checkOutBtn {
    display: flex;
    justify-content: end;
    padding: 0 1vmax;
  }
  .checkOutBtn > button {
    display: flex;
    background-color: tomato;
    color: white;
    border: none;
    justify-content: center;
    padding: 1.2vmax 4vmax;
    width: 100%;
    font: 300 1.8vmax "Roboto";
    cursor: pointer;
    border-radius: 12px;
  }
  
  @media screen and (max-width: 600px) {
    .cartInput {
      border: 2px solid #E86F44E5;
      overflow: hidden;
      border-radius: 6px;
      width: auto;
      display: flex;
      align-items: center;
      height: auto;
      position: absolute;
      left: 36%;
      bottom: 17%;
  
    }
      
    .cartInput > button {
      border: none;
      background-color: #e87044e6;
      cursor: pointer;
      color: white;
      width: 30px;
      transition: all 0.5s;
      padding: 0.75vmax;
      font-size: 1.5vmax;
    }
    .cartGrossProfitBox {
      border-top: 3px solid rgb(92, 184, 165);
      margin: 1vmax 1vmax;
      box-sizing: border-box;
      padding: 1vmax 0;
      font: 800 2vmax "Roboto";
      display: flex;
      justify-content: space-between;
    }
    .checkOutBtn button{

    }
  }