/* General Styles */
.cartItemText > p {
  font: 400 1.8vmax "quick sand", sans-serif;
}

.cartItemContainer {
  height: auto;
}

.cartItemContainer > div {
  min-height: 95px;
  height: auto;
  display: flex;
  font: 400 1vmax;
  align-items: center;
  justify-content: space-between;
  margin: 2vmax 0;
}

.cartItemContainer > div > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 17px;
  width: auto;
  position: relative;
}

.cartItemContainer > div > span > img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  border: 2px solid #7A301A;
}

.cartItemContainer .quantityTag {
  position: absolute;
  top: 0;
  left: 71px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #FFFF;
  background: #3c2828a8;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: normal;
}

.cartItemContainer > div > span > a {
  color: #7A301A;
  text-decoration: none;
  font-size: 1.6vmax;
}

.cartItemContainer > div > span {
  color: #7A301A;
  font-size: 1.4vmax;
}

/* Order Summary Styles */
.orderSummary {
  padding: 0vmax;
  border: none;
  border-top: 3px solid #7A301A;
  border-bottom: 3px solid #7A301A;
}

.orderSummary > div > div {
  display: flex;
  font: 300 1.5vmax "quick sand", sans-serif;
  justify-content: space-between;
  margin: 1vmax 0;
}

.orderSummary .subtotalOrder {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: #7A301A;
}

.orderSummary > div > p,
.orderSummary > div > span {
  font-size: 16px;
}

.orderSummary > div > div > span {
  color: #7A301A;
}

.orderSummaryTotal {
  padding: 0.5vmax 0;
  position: relative;
}

.orderSummaryTotal p,
.orderSummaryTotal span {
  font-size: 1.6vmax;
  font-weight: 600;
  color: #7A301A;
}

.orderSummaryTotal .totalPrice {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #7A301A;
  font-size: 1.6vmax;
}

.orderSummaryTotal .taxesIncludedInfo {
  font-size: 14px;
}

.orderSummary > button {
  background-color: #C95741E5;
  color: white;
  width: 100%;
  padding: 1vmax;
  border: none;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  font: 400 1vmax "Roboto";
  border-radius: 6px;
}

.orderSummary > button:hover {
  background-color: rgb(192, 71, 50);
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .cartItemText > p {
    font: 400 6vw "League Spartan", sans-serif;
  }

  .cartItemContainer {
    height: auto;
  }

  .cartItemContainer > div {
    font: 400 4vw "League Spartan", sans-serif;
    margin: 0;
  }

  .cartItemContainer > div > img {
    width: 10vw;
  }

  .cartItemContainer > div > a {
    margin: 0;
    width: 30%;
  }

  .cartItemContainer > div > span {
    font-size: 14px;
    font-weight: 600;
  }

  .cartItemContainer > div > span > a{
    font-size: 14px;
  }
  .shippingContainer{
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .orderSummary {
    padding: 10px;
    width: 100%;
  }


  .orderSummaryTotal {
    font: 300 4vw "League Spartan", sans-serif;
    
    padding: 5vw 0;
  }

  .orderSummary > button {
    padding: 4vw;
    margin: 4vw auto;
    font: 400 4vw "League Spartan", sans-serif;
  }
  div .products-and-amount{
    width: 100%;
  }
}
