.payment {
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
  height: 65vh;
  margin: 2vmax;
}
.PaymentCartItems {
  margin: auto;
  width: 45%;
  height: 100%;
}

.PaymentCartItems img {
  width: 3vmax;
  border-radius: 6px;
  border: 1px solid rgba(99, 236, 140, 0.264);
}

.PaymentItemsContainer {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  gap: 15px;
}
.PaymentItemsContainer a {
  color: #575757;
  margin: 0 3vmax;
  width: 50%;
  text-decoration: none;
}

.PaymentOrderSummary {
  margin: 4vh auto;

  width: 45%;
  height: 100%;
}
.cart-detailss {
  display: flex;
}
.PaymentOrderSummary > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PaymentOrderSummary .TotalPaymentSummary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PaymentOrderSummary > button {
  background-color: tomato;
  color: white;
  width: 100%;
  padding: 1vmax;
  border: none;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  font: 400 1vmax "Roboto";
  margin-bottom: 10px;
  border-radius: 6px;
}

.PaymentOrderSummary > button:hover {
  background-color: rgb(192, 71, 50);
}

@media screen and (max-width: 768px) {

    .PaymentCartItems {
        width: 80%;
      }
  .PaymentItemsContainer{
    width: 100%;
  }
  .cart-detailss{
    display: flex;
    justify-content: space-between;
  }
  .cart-detailss img{
    width: 35px;
    height: 50px;
  }
  .cart-detailss a {
    color: #575757;
    margin: 0 1vmax;
    width: 40%;
    text-decoration: none;
  }
  .cart-detailss .subTotal-payment{
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .PaymentOrderSummary{
    width: 80%;
  }
}
