.shippingContainer {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFFFF;
    border-top: 2px solid #7A301B;
    
  }

  .shippingBox {
    width: 40%;
    min-height: 90vh;
    height: auto;
    box-sizing: border-box;
  }
  .shipping-title{
    padding: 0 2vmax;
    margin-top: 2vh;
    color: #7A301B;
    font-family: "quick sand", sans-serif;
    font-weight: 600;
  }

  .contact-details{
    padding: 0 2vmax;
    margin-bottom: 5vh;
    font-weight: 400;
  }
  .item-quantity{
    padding-left: 10px;
    font-size: 24px;
  }
  
  .sub-total-sec{
    font-weight: 600;
  }

  .shippingHeading {
    color: #7A301B;
    font: 600 1.3vmax "quick sand", sans-serif;
    margin-top: 0;
    padding: 0 2vmax;
  }
  

  .shippingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    min-height: 80%;
    transition: all 0.5s;
    row-gap: 1.5vh;
  }
  
  .shippingForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .shippingForm > div > input,
  .shippingForm > div > select {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    background-color: #ffbe9836;
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    font-family: "League Spartan", sans-serif;
    outline: none;
  }
  
  .shippingForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  .shippingBtn {
    border: none;
    background-color: #c95841e8;
    color: white;
    font: 300 1vmax "quick sand", sans-serif;
    width: 100%;
    padding: 1vmax;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    margin: 2vmax;
    border-radius: 6px;
  }
  
  .shippingBtn:hover {
    background-color: rgb(179, 66, 46);
  }

  .products-and-amount{
    width: 35%;
    border-left: 2px solid #7A301B;
    padding: 2vh 2vw;
  }


  .brought-together{
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
  }
  .brought-together h2{
    margin-top: 2vh;
  }







  
  @media screen and (max-width: 600px) {
    .shippingBox {
      width: 100vw;
      height: auto;
      min-height: auto;
    }
    .shipping-title{
      font-size: 20px;
    }
  
    .contact-details{
      margin-bottom: 10px;
    }
    .shippingHeading {
      font: 400 16px "quick sand", sans-serif;
      padding: 0 10px;
    }
  
    .shippingForm {
      padding:0 10px;
      min-height: auto;
    }
  
    .shippingForm > div > input,
    .shippingForm > div > select {
      padding: 3.5vw 10vw;
      font-size: 10px;
      letter-spacing: 0.5px;
      font-family: "League Spartan", sans-serif;
    }
  
    .shippingForm > div > svg {
      font-size: 6vw;
      transform: translateX(3vw);
    }
  
    .shippingBtn {
      font-size: 18px;
      
      padding: 3vw;
      margin: 0;
    }
  }
  