.LoginSignUpContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 0%;
  left: 0;
}

.leaf1-signup, .leaf2-signup, .leaf3-signup, .leaf4-signup{
  position: absolute;
}
.leaf1-signup{
  top: 100px;
  left: 10vw;
  width: 10vw;
  rotate: 120deg;
}
.leaf2-signup{
  right: 10vw;
  width: 10vw;
  top: 100px;
  rotate: 70deg;
  transform: rotateX(180deg);
}
.leaf3-signup{
  left: 10vw;
  bottom: 100px;
  width: 10vw;
  rotate: 120deg;
}
.leaf4-signup{
  right: 10vw;
  bottom: 100px;
  width: 10vw;
  transform: rotateX(180deg);
  rotate: 80deg;
}



.LoginSignUpBox {
  background-color: white;
  width: 40vw;
  height: 73vh;
  box-sizing: border-box;
  overflow: hidden;
}


.login_signUp_toggle {
  display: flex;
  height: 3vmax;
}


.login_signUp_toggle > p {
  color: rgba(0, 0, 0, 0.678);
  font: 300 1vmax "quick sand", sans-serif;
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
}


.login_signUp_toggle > p:hover {
  color: #7a301b;
}


.LoginSignUpBox > div > button {
  background-color: #7a301b;
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}


.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
  margin-top: 3vh;
  row-gap: 15px;
}


.signUpForm {
  margin-top: 7vh;
  transform: translateY(-100%) translateX(-100vmax);
}


.loginForm > div,
.signUpForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}


.loginForm > div > input,
.signUpForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(102, 242, 104, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax "quick", sans-serif;
  outline: none;
}


.loginForm > div > svg,
.signUpForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}


.loginForm > a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 0.8vmax "quick", sans-serif;
}


.loginForm > a:hover {
  color: black;
}


#registerImage > img {
  width: 3vmax;
  border-radius: 100%;
  
}


#registerImage > input {
  display: flex;
  padding: 0%;
}


#registerImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax "quick", sans-serif;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}


#registerImage > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}


.loginBtn,
.signUpBtn {
  border: none;
  background-color: #b94221;
  color: white;
  font: 300 0.9vmax "quick", sans-serif;
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}


.loginBtn:hover,
.signUpBtn:hover {
  background-color: #a6381adf;
}


.shiftToLeft {
  transform: translateX(-100%);
}


.shiftToNeutral {
  transform: translateX(0%);
}


.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}


.shiftToRight {
  transform: translateX(100%);
}


@media screen and (max-width: 770px) {
  .LoginSignUpContainer {
    background-color: white;
    height: auto;
  }
  .LoginSignUpBox {
    margin: auto;
  
    width: 100vw;
    height: 90vh;
  }
  .login_signUp_toggle {
    height: 5vmax;
  }
  .login_signUp_toggle > p {
    font: 300 1.5vmax "quick", sans-serif;
  }

  .loginForm,
  .signUpForm {
    padding: 5vmax;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }


  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax "quick", sans-serif;
  }

  .loginForm > div > svg,
  .signUpForm > div > svg {
    font-size: 2.8vmax;
  }

  .loginForm > a {
    font: 500 1.8vmax "quick", sans-serif;
  }

  #registerImage > img {
    width: 8vmax;
    border-radius: 100%;
  }

  #registerImage > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax "quick", sans-serif;

  }

  .loginBtn,
  .signUpBtn {
    font: 300 1.9vmax "quick", sans-serif;
    padding: 1.8vmax;
  }

} 


@media screen and (max-width:600px) {
  .leaf1-signup{
    top: 20px;
    left: 10px;
  }
  .leaf2-signup{
    right: 10px;
    top: 20px;
    
  }
  .leaf3-signup{
    bottom: auto;
    left: 10px;
  }
  .leaf4-signup{
    right: 10px;
    bottom: auto;
    width: 10vw;
    transform: rotateX(180deg);
    rotate: 80deg;
  }
}

section{
  transition: all 0.5s;
  height: auto;
}

.socialLoginButtons {
  text-align: center;
  margin-top: 1rem;
  position: absolute;
}

.orText {
  margin: 0.5rem 0;
  color: #666;
  font-size: 14px;
}

.socialBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80%;
  margin: 0.5rem auto;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 15px;
}

.socialIcon {
  font-size: 20px;
  
}

.googleBtn {
  background-color: #F5B804;
}

.xBtn {
  background-color: #000;
}

.facebookBtn {
  background-color: #1877f2;
}
