.about-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.about-container h2{
    font-size: 40px;
    color: #EB7E57E5;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "quick sand", serif;
    font-weight: 900;
    font-style: normal;
}
.about-container p{
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    
}
.about-banner{
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    align-items: center;
    justify-content: center;
}
.about-banner-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-logo{
    width: 25vmax;
}


.about-2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 178px;
    background: #D0E7D7;
    padding: 0 10vh;
    position: relative;
    z-index: 2;

}
.about-2 p, .about-2 h3{
    text-align: center;
    font-weight: 500;
}

.about-container h3{
    letter-spacing: 2px;
    font-weight: bold;
}

.about-3{
    position: relative;
    top: -10vh;
}

.about-4{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10vh;
}

.about-4 img{
    margin: auto;
    height: 417px;
}

.about-4 .about-4-p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    text-align: center;
    row-gap: 5vh;
}



.about-sub-title{
    margin: 10vh 0;
}



.our-mission-values{
    background-color: #AFCFB033;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-mission-values-sec {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 0px; /* Remove any gap between grid items */
  }
  
  .grid-item {
    width: 100%; /* Ensure content occupies full width of grid item */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
  }
  
  .item1 {
    height: 100%; /* Set height for Item 1 */
    grid-column: 1; /* Item 1 in the first column */
    grid-row: 1; /* Item 1 in the first row */
  }
  
  .item2 {
    height: 40px; /* Set height for Item 2 */
    grid-column: 2; /* Item 2 in the second column */
    grid-row: 1; /* Item 2 in the first row */
  }
  
  .item3 {
    height: 100%;
    grid-column: 1; /* Item 3 in the first column */
    grid-row: 2; /* Item 3 in the second row */
  }
  
  .item4 {
    grid-column: 2; /* Item 4 in the second column */
    grid-row: 2; /* Item 4 in the second row */
  }
  
  


  .about-6{
    width: 100%;
  }
  .about-6 img{
    width: 100%;
    height: 246px;
  }


  .about-7{
    width: 100%;
    background: #AFCFB033;
    text-align: center;
    margin: 10vh 0;
  }
  .about-7 p, .about-7 h2{
    margin: auto;
    width: 90%;
  }


  .proof-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5vh;
    height: auto;
    margin-top: 5vh;
  }
  .proof-icons img{
    margin: auto;
    width: 5vw;
  }

  .proof-titles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    padding: 0 5vh;
    color: #EB7E57E5;
  }
  .proof-titles h4{
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-size: medium;
  }


  .mix-banner{
    width: 100%;
    height: auto;
    margin-top: 10vh;

  }
  .mix-banner img{
    width: 100%;
    height: 331px;
  }


  .greenies-banner{
    width: 100%;
    margin-top: 5vh;
  }
  .greenies-banner img{
    width: 90%;
    margin: auto;
  }


  .about-footer-banner{
    width: 100%;
    margin: 5vh 0;
  }

  .about-footer-banner img{
    width: 100%;
    transform: scaleX(-1) scaleY(-1);

    opacity: 0.8;
  }