*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#wishlist{
  position: relative;
}
.wishlist-count{
  position: absolute;
  right: -19px;
  top: 2px;
  font-size: 19px;
  padding: 0;
  margin: 0;
  font-weight: 500;
  color: #7a301bf4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "quick sand", sans-serif;

}
.cart-count-sec{
  width: 20px;
  position: relative;
  right: 40px;
  top: -2px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #7A301B;
}
.cart-count-sec .count-icon{
  position: absolute;
  left: 0;
  top: -8px;

}
.cart-count-sec .cart-product-count{
  position: absolute;
  top: -10px;
  left: 2px;
  font-size: 19px;
  font-family: "quick sand", sans-serif;
}


.searchIcon-header{
  display: none;
}
header {
  max-width: 100%;
  color: #4A4A4A; /* Soft dark gray for text */
  background-color: #ffbe989e;  
  position: relative;
  z-index: 10;
  margin-bottom: 0;
}

.top-bar {
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.search, .logo, .icon-links{
  width: 33%;
}

.search{
  position: relative;
  left: 60px;
}

.logo {
  text-align: center;
}

.logo img{
  width: 140px;
}

.icon-links {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3rem;
  padding-right: 40px;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  transition: color 0.3s ease;
  
}

.icon:hover {
  color: rgba(252, 158, 144, 0.622); /* Soft blue hover effect */
}


.cart-icon{
  background-color: transparent;
  border: none;
}


/* for user options */

.speedDial{
  position: fixed;
  top: 27.5vh;
  right: 2.5vh;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.speedDialIcon{

  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.speedDial .MuiFab-primary {
  background: transparent;
  height: 45px;
  width: 45px;
}














@media screen and (max-width: 880px) {
  .icon{
    width: 30px;
    height: 30px;
  }
  .icon-links{
    gap: 25px;
  }
  .cart-count-sec{
    right: 25px;
  }
  .wishlist-count{
    display: none;
  }
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .search{
    width: 40%;
  }
  .wishlist-count{
    display: none;
  }
  .cart-count-sec{
    width: 20px;
    position: relative;
    right: 6px;
    top: -2px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .cart-count-sec .count-icon{
    width: 18px;
    height: 18px;
    position: absolute;
    left: -1.4px;
    top: -10px;
  
  }
  .cart-count-sec .cart-product-count{
    position: absolute;
    top: -10px;
    left: 3.5px;
    
    font-size: 15px;
  }
  .search-icon-header{
    display: none;
  }
  .logo{
    width: 20%;
  }
  .logo img{
    width: 70%;
  }
  .icon-links {
    gap: 0.5rem;
  }
  .icon{
    width: 30px;
    height: 30px;
    object-fit: contain;

  }
  .wishlist{
    display: none;
  }
  .top-bar{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .icon-links{
    padding-right: 20px;
    margin: 0;
  }

  .speedDial .MuiFab-primary{
    display: none;
  }
  
}





@media screen and (max-width: 600px) {
  .cart-count-sec{
    width: 20px;
    position: relative;
    right: 6px;
    top: -2px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .cart-count-sec .count-icon{
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 0;
  
  }
  .cart-count-sec .cart-product-count{
    position: absolute;
    top: 0;
    left: 3.5px;
    font-size: 10px;
  }
  .icon{
    width: 20px;
    height: 20px;
    margin-left: 3px;
    object-fit: contain;
  }
  .logo{
    width: 30%;
  }
  .logo img{
    width: 40%;
  }

  .top-bar {
    display: flex;
    height: auto;
    min-height: 80px;
    width: 100%;
    padding: 10px 0 35px 0;
    justify-content: end;
    align-items: center;
    position: relative;
    margin: 0;
  }
   .search-icon-header{
    display: flex;
    position: absolute;
    left: 14px;
  }
  .search{
    position: absolute;
    bottom: 10px;
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .logo{
    width: 22%;
    margin-right: 20px;
  }
  
}

@media screen and (max-width: 350px) {
  .logo{
    width: 30%;
    margin-right: 7px;
  }
}





/* Keyframes for Animations */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Cart Overlay */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  visibility: visible;
}

.cart-overlay.cart-opening {
  animation: fadeIn 0.3s ease-in-out;
}

.cart-overlay.cart-closing {
  animation: fadeOut 0.3s ease-in-out;
  animation-fill-mode: forwards; /* Ensures the fadeOut final state persists */
}

/* Cart Container */
.cart-container {
  width: 60%;
  max-width: 550px;
  background-color: #f6f6f6;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative; 
}

.cart-container.cart-opening {
  animation: slideIn 0.3s ease-in-out;
}

.cart-container.cart-closing {
  animation: slideOut 0.3s ease-in-out;
  animation-fill-mode: forwards; /* Ensures the slideOut final state persists */
}

/* Visibility Hidden After Animation Ends */
.cart-overlay.cart-closing,
.cart-container.cart-closing {
  animation-fill-mode: forwards;
  pointer-events: none; /* Prevent interactions during animation */
}


.cart-text{
  position: absolute;
  top: 15px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 101;
  font: 600 2.5vmax "League Spartan", sans-serif;
  color: #c95941;
}

/* Close Button */
.cart-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 101;
}
.fa-close{
  font-size: 30px;
  color: #7A301B;
}
.cart-close-btn:hover {
  color: #dd5050;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .cart-container {
    width: 80%;
  }
  .cart-text{
    top: 18px;
    font-size: 21px;
  }
  .cart-close-btn{
    top: 0;
    font-size: 40px;
  }
  .fa-close{
    font-size: 30px;
  }
}


@media screen and (max-width: 990px) {
  .search{
    margin: 0;
    padding: 0;
    left: 15px;
    
  }
}

@media screen and (max-width: 600px) {
  .cart-container {
    width: 98%;
    margin: auto;
  }
  
}