footer {
    color: #4A4A4A;
    padding: 1rem 0;
    max-width: 100vw;
    background-color: #A2D1B180;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    min-height: 60vh;
    position: relative;
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    justify-content: space-between;
    margin: 0 60px;
    gap: 5px;
  }

  h3{
    color: #C95741FA;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1.2vmax;
  }

  
  .footer-links {
    
    display: flex;
    flex-direction: column;
    gap: 8px;
    
  }
  
  .footer-links a {
    color: #4A4A4A; /* Soft dark gray for links */
    text-decoration: none;
    transition: color 0.3s ease;
    width: fit-content;
  }
  .footer-links a {
    text-decoration: none;
    letter-spacing: 1px;
    
    display: inline-block;
    position: relative;
  }
  .footer-links a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: #4a4a4ab9;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .footer-links a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  
  .footer-policies{
    gap: 8px;
    display: flex;
    flex-direction: column;
  }

  .social-media{
    display: flex;
    flex-direction: column;
    width: 270px;
    
  }
  .social-media>h3{
    margin-bottom: 1.2vh;
  }

  .social-media .img-p{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: end;
    
  }
  .social-media img{
    width: 100px;
    
  }
  .contact-p{
    margin-bottom: 0;
    padding: 0;
  }

  .social-icon {
    font-size: 1.9rem;
    transition: color 0.3s ease;
    margin-right: 18px;
  }
  .insta-icon{
    width: 1.9rem;
 
  }
  .youtube-icon{
    width: 2.5rem;
  }
  
  .social-icon:hover {
    color: rgb(251, 141, 62); /* Soft blue hover effect */
  }



.footer-policies a{
  text-decoration: none;
  color: #4A4A4A;
}
.payicons{
  margin-top: 10px;
  display: flex;
  width: 160px;
  flex-direction: row;
  padding: 0;
  align-items: center;
}
.pay-icon{
   width: 40px;
   height: 40px;
   object-fit: cover;
   padding: 0;
   margin: 0;

}

.footer-offer{
  text-align: center;
  width: 100%;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}
.footer-search{
  width: 100%;

}
.search-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1vmax;
}
.footer-img{
  width: 100%;
}
.curtomer-services-c-r-tm-icons{
  display: flex;
  justify-content: space-between;
  height: 18px;
  width: 85px;
  padding: 0;
  margin: 10px 0 0 0;
}
.curtomer-services-c-r-tm-icons>img{
  width: 17px;
  width: 17px;
  object-fit: contain;

}
.contact-payment{
  padding-top: 0;
  margin-top: 0;
  color: #C95741FA;
}
.stay-in-touche{
    color: #C95741FA;
}

.footer-leaf{
  position: absolute;
  left: 50px;
  top: 40%;
  width: 12vw;
  z-index: -1;
}


@media (max-width: 768px) {
  .footer-container{
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    margin: 0 10px;
  }
  h3{
    font-size: 16px;
    margin-top: 10px;
  }
  .search-footer{
    margin-top: 10vh;
  }
  .social-media{
    width: 40%;
  }
}
  
  /* Media Queries for Responsiveness */
  @media (max-width: 600px) {
    .footer-container{
      flex-wrap: wrap;
      flex-direction: column;
      padding: 0 20px;
    }
    h3{
      font-size: 16px;
      margin-top: 5vh;
      padding-top: 7px;
      border-top: 1px solid rgba(223, 154, 81, 0.612);
    }
    .social-media{
      width: 100%;
    }
  }
  