footer {
    color: #4A4A4A;
    padding: 1rem 0;
    max-width: 100vw;
    background-color: #A2D1B180;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 50vh;
    position: relative;
    
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    justify-content: space-around;
  }
  h3{
    color: #E86F44FA;
    font-size: 20px;
    font-weight: 600;
  }
  
  .footer-links {
    
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .footer-links a {
    color: #4A4A4A; /* Soft dark gray for links */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: rgb(252, 158, 144); /* Soft blue hover effect */
  }
  .footer-policies{
    gap: 8px;
    display: flex;
    flex-direction: column;
  }

  .social-media{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }

  .social-media .img-p{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40px;
  }
  .social-media img{
    position: relative;
    left: 110px;
    top: -40px;
    width: 100px;
    
  }

  .social-icon {
    
    color: #4A4A4A; /* Dark gray for social icons */
    font-size: 1.5rem;
    transition: color 0.3s ease;
    margin-right: 7px;

  }
  
  .social-icon:hover {
    color: rgb(252, 158, 144); /* Soft blue hover effect */
  }

.footer-policies a{
  text-decoration: none;
  color: #4A4A4A;
}


.footer-search{
  display: flex;
}
  

  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .footer-container{
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
  