.myOrdersPage {
  padding: 5vmax;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: white;
  min-height: 100vh;
  width: 100%;
}

#myOrdersHeading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.tableContainer {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.ordersTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
}

.ordersTable th,
.ordersTable td {
  border: 1px solid #ddd;
  padding: 10px;
  
  
}

.ordersTable th {
  background-color: #E86F44E5;
  font-weight: bold;
  color: #f9f9f9;
}

.ordersTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.ordersTable tr:hover {
  background-color: #f1f1f1;
}

.greenColor {
  color: green;
  font-weight: bold;
}

.redColor {
  color: red;
  font-weight: bold;
}

.actionLink {
  color: #007bff;
  text-decoration: none;
}

.actionLink:hover {
  text-decoration: underline;
}
