.orderDetailsPage {
    background-color: white;
    width: 60%;
    margin: auto;
  }
  
  .orderDetailsCartItems > h1 {
    font: 300 2vmax "Roboto";
    border-bottom: 1px solid orange;
    color: tomato;
    margin: 1.5vmax 0;
    padding: 5px 0;
    
  }
  .orderDetailsContainer > h6{
    color: rgba(221, 72, 46, 0.589);
    border-bottom: 1px solid orange;
  }
  .orderDetailsContainer {
    padding: 4vmax 5vmax;
    padding-bottom: 0%;
  }
  
  .orderDetailsContainer > p {
    font: 400 1.8vmax "Roboto";
  }
  
  .orderDetailsContainerBox,
  .orderDetailsCartItemsContainer {
    margin: 2vmax;
  }
  
  .orderDetailsContainerBox > div {
    display: flex;
    align-items: center;
    margin: 1vmax 0;
  }
  
  .orderDetailsContainerBox > div > p {
    font: 400 1vmax "Roboto";
    color: black;
  }
  .orderDetailsContainerBox > div > span {
    margin: 0 1vmax;
    font: 100 1vmax "Roboto";
    color: #575757;
  }
  
  .orderDetailsCartItems > h6 {
    font: 400 1.4vmax "Roboto";
    color: rgba(221, 72, 46, 0.589);
  }
  
  .orderDetailsCartItems {
    padding: 0 5vmax;
    border-top: 1px solid rgba(0, 0, 0, 0.164);
  }
  
  .orderDetailsCartItemsContainer > div {
    display: flex;
    font: 400 1vmax "Roboto";
    align-items: center;
  }
  
  .orderDetailsCartItemsContainer > div > img {
    width: 3vmax;
    border-radius: 6px;
    border: solid 1px rgba(80, 211, 131, 0.573);
  }
  
  .orderDetailsCartItemsContainer > div > a {
    color: #575757;
    margin: 0 2vmax;
    width: 60%;
    text-decoration: none;
  }
  
  .orderDetailsCartItemsContainer > div > span {
    font: 100 1vmax "Roboto";
    color: #5e5e5e;
  }

  .orderDetailsContainerBox p.greenColor {
    color: green;
    font-weight: bold;
  }
  
  .orderDetailsContainerBox p.yellowColor {
    color: yellow;
    font-weight: bold;
  }
  
  .orderDetailsContainerBox p.redColor {
    color: red;
    font-weight: bold;
  }
  
  
  
  
  @media screen and (max-width: 600px) {
    .orderDetailsPage{
      width: 100%;
    }
    .orderDetailsContainer > p {
      font: 400 6vw "Roboto";
    }
    .orderDetailsPage h1{
      font-size: 2.5vmax;
    }
    .orderDetailsContainer h6{
      font-size: 2vmax;
    }
    .orderDetailsContainerBox > div {
      margin: 1vw 0;
    }
  
    .orderDetailsContainerBox > div > p {
      font: 400 3vw "Roboto";
    }
    .orderDetailsContainerBox > div > span {
      font: 100 3vw "Roboto";
    }
  
    .orderDetailsCartItems > h6 {
      font: 400 3vw "Roboto";
    }
  
    .orderDetailsCartItemsContainer > div {
      font: 400 4vw "Roboto";
      margin: 4vw 0;
    }
  
    .orderDetailsCartItemsContainer > div > img {
      width: 10vw;
    }
  
    .orderDetailsCartItemsContainer > div > .productlink {
      margin: 1vw;
      width: 30%;
    }
  
    .orderDetailsCartItemsContainer > div > span {
      font: 100 4vw "Roboto";
    }
  }
  