.loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading>div{
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;


}
.loading>div>div{
    position: absolute;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid #7A301A;
    border-radius: 50%;
    height: 20vh;
    animation: loadingAnimate 0.8s linear infinite;

}
.loading .logo{
    height: 15vh;
    width: 15vh;
    margin: auto;
}

@keyframes loadingAnimate {
    to{
        transform: rotate(360deg);
    }
}