.loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading>div{
    width: 25vh;
    border-bottom: 10px solid #7A301A;
    
    height: 25vh;
    border-radius: 50%;
    animation: loadingAnimate 2s linear infinite;
    position: absolute;
}

.loading .logo{
    height: 20vh;
    width: 20vh;
}

@keyframes loadingAnimate {
    to{
        transform: rotate(360deg);
    }
}