.productsHeading {
    margin: 2vmax auto;
    width: 50vh;
    border-bottom: 4px solid #7A301A;
    padding: 1vmax;
    color: #7A301A;
    font: 600 3vmax "quick sand", sans-serif;
    text-align: center;
    font-family: "quick sand", sans-serif;
  }
  .ProductBanner >img{
    width: 100%;
    height: auto;
  }
  .product-list{
    
    height: auto;
  }
  .products {
    background: #ffbe9836;
    display: flex;
    flex-wrap: wrap;
    padding:  5vmax;
    justify-content: center;
    min-height: 60vh;
    gap: 40px;
    margin-bottom: 10vh;
  }
  
  .paginationBox {
    display: none;
    justify-content: center;
    margin: 6vmax;
    
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .page-item {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    text-decoration: none;
    font: 300 0.7vmax "Roboto";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
  }
  
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .page-item:hover .page-link {
    color: rgb(0, 0, 0);
  }
  
  .pageItemActive {
    background-color: tomato;
  }
  
  .pageLinkActive {
    color: white;
  }
  
  .filterBox {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;   

  }
  
  .categoryBox {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white; /* Optional: Ensures it's visible on scroll */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */
    margin-top: 2vmax;  /* Optional: Adds some space at the top */
  }
  
  
  .category-link {
    list-style: none;
    color: rgba(0, 0, 0, 0.61);
    font: 400 1.2vmax "Roboto";
    margin: 0.9vmax;
    cursor: pointer;
    transition: all 0.5s;
    
  }
  .category-link:hover {
    color: tomato;
  }
  
  .filterBox > fieldset {
    border: 1px solid rgba(0, 0, 0, 0.329);

  }
  
  @media screen and (max-width: 600px) {
    .filterBox {
      width: 20vmax;
      position: static;
      margin: auto;
    }
  
    .page-link {
      font: 300 1.7vmax "Roboto";
    }
    .category-link {
      font: 400 1.8vmax "Roboto";
    }
    .products{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding: 0 10px  10px;
      margin: 0;
      row-gap: 10px;
      position: relative;
     } 
  }
  