.ProductDetails {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  max-width: 100%;
  padding: 6vmax;
  box-sizing: border-box;
  display: flex;
}

.ProductDetails > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2vmax;
  box-sizing: border-box;
  border: 1px solid white;
}

.ProductDetails > div:last-child {
  align-items: flex-start;
}

.CarouselImage {
  width: 20vmax;
  border-radius: 8px;
}



.detailsBlock-1 > h2 {
  color: rgb(54, 54, 54);
  font: 600 1.6vmax "Roboto";
}

.detailsBlock-1 > p {
  color: rgba(54, 54, 54, 0.158);
  font: 200 0.6vmax cursive;
}

.detailsBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 70%;
  padding: 1vmax 0;
}

.detailsBlock-2-span {
  font: 200 0.8vmax cursive;
  color: rgba(0, 0, 0, 0.699);
}

.detailsBlock-3 {
  width: 70%;
}

.detailsBlock-3 > h1 {
  text-align: left;
  color: rgba(17, 17, 17, 0.795);
  font: 400 1.8vmax "Franklin Gothic Medium";
  margin: 1vmax 0;
}
.detailsBlock-3-1 {
  display: flex;
  align-items: center;
}






.quantity-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: 1px solid #E86F44E5;
  border-radius: 5px;
  overflow: hidden;
}

.quantity-container input {
  width: auto; /* Adjust size as needed */
  text-align: center;
  border: none;
  outline: none;
}

.quantity-container button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px; /* Adjust width as needed */
  border: none;
  background: #e87044c0;
  cursor: pointer;
  color: aliceblue;
}

.quantity-container .decrement {
  left: 0;
  border-right: 1px solid #E86F44E5; /* Add divider */
}

.quantity-container .increment {
  right: 0;
  border-left: 1px solid #E86F44E5; /* Add divider */
}

.quantity-container input,
.quantity-container button, .addcart-btn {
  height: 40px; /* Keep buttons and input aligned */
}

.addcart-btn{
  margin-left: 5vh;
  border: 1px solid #E86F44E5;
  background: #e87044;
  border-radius: 12px;
  color: white;
  padding: 0 0.9vmax;
  cursor: pointer;

}
.addcart-btn:hover{
  background: #9e3c18cd;
}

.quantity-container button:hover {
  background: #E86F44E5; /* Optional hover effect */
}



.detailsBlock-3 > p {
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1vmax 0;
  color: rgba(0, 0, 0, 0.651);
  font: 400 1vmax "Roboto";
  margin: 1vmax 0;
  text-align: start;
}

.detailsBlock-4 {
  color: rgba(0, 0, 0, 0.897);
  font: 500 1.2vmax sans-serif;
  text-align: start;
}

.detailsBlock-4 > p {
  color: rgba(0, 0, 0, 0.534);
  font: 300 0.8vmax sans-serif;
  text-align: start;
}


.review-btn-div{
  width: 100%;
  display: flex;
  justify-content: center;
}

.submitReview {
  border: none;
  background-color: tomato;
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.6vmax 2vmax;
  width: 20%;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
}
.submitReview:hover {
  background-color: rgb(223, 87, 62);
  transform: scale(1.01);
}

.submitDialog {
  display: flex;
  flex-direction: column;
}
.submitDialogTextArea {
  border: 1px solid rgba(0, 0, 0, 0.082);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  font: 300 1rem "Roboto";
}

.reviewsHeading {
  color: #000000be;
  font: 500 1.4vmax "Roboto";
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  padding: 1vmax;
  width: 20vmax;
  margin: auto;
  margin-bottom: 4vmax;
}
.reviews {
  display: flex;
  overflow: auto;
}

.reviewCard {
  flex: none;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.226);
  border: 0.5px solid rgba(56, 56, 56, 0.056);
  width: 90vmax;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2vh auto;
  padding: 1.5vmax;
}
.reviewCard-img-name{
  display: flex;
  align-items: center;
}
.reviewCard .reviewCard-img-name img {
  width: 4vmax;
}
.reviewCard .reviewCard-img-name p {
  color: rgba(0, 0, 0, 0.734);
  font: 600 0.9vmax "Roboto";
}
.reviewCardComment {
  color: rgba(0, 0, 0, 0.849);
  font: 300 1vmax cursive;
  padding-left: 5px;
}

.noReviews {
  font: 400 1.3vmax "Gill Sans";
  text-align: center;
  color: rgba(0, 0, 0, 0.548);
}

@media screen and (max-width: 600px) {

  
  .ProductDetails > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vmax;
    box-sizing: border-box;
    border: 1px solid white;
  }
  .ProductDetails {
    flex-direction: column;
    height: unset;
    padding: 5px 0;
  }
  .p-details-desc{
    margin: 0;
    padding: 0;
  }
  .ProductDetails > div:last-child {
    align-items: center;
    width: 100%;
    margin: auto;
    
  }
  .detailsBlock-1{
    padding: 0;
    margin: 0;
  }
  .detailsBlock-1 > h2 {
    font-size: 2.5vmax;
    text-align: center;
    margin-top: 5px;
  }

  .detailsBlock-1 > p {
    text-align: center;
    font-size: 1.2vmax;
  }

  .detailsBlock-2 {
    justify-content: center;
  }
  .detailsBlock-2 > span {
    font-size: 1.5vmax;
  }

  .detailsBlock-3 > h1 {
    font: 700 2.5vmax "Franklin Gothic Medium";
    text-align: center;
    margin-top: 3px;
  }

  .detailsBlock-3-1 {

    margin: 2vmax 0;
  }

  .detailsBlock-3-1-1 {
    padding: 1vmax 0;
    width: auto;
    margin: 5vh 0;
    gap: 5px;
    
  }
  .quantity-container{
    padding: 0;
    height: 5vh;
  }
  .detailsBlock-3-1-1 > button {
    
    width: 5vmax;
    height: 100%;
  }

  .detailsBlock-3-1-1 > input {
    padding: 1.5vmax;
    margin: 0;
    width: 25vh;
    font: 400 1.8vmax "Roboto";
  }

  .detailsBlock-3-1 > button:last-child {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    margin: 0;
    width: 18vmax;
    height: 100%;
    margin-left: 8px;

  }

  .detailsBlock-3 > p {
    padding: 2.5vmax 0;
    text-align: center;
    font: 400 2vmax "Roboto";
  }

  .detailsBlock-4 {
    font: 500 2.5vmax sans-serif;
    
  }

  .detailsBlock-4 > p {
    font: 300 1.8vmax sans-serif;
  }

  .submitReview {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }


  .reviewCard{
    width: 100%;
    height: auto;
    overflow: scroll;
  }

  .reviews{
    width: 90%;
    margin: auto;
  }
  .reviewCard .reviewCard-img-name > p {
    font: 600 3vw "Roboto";
  }
  .reviewCardComment {
    font: 300 3vw cursive;
  }
}
