.searchBox {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 20px auto;
  width: 100%;
  position: relative;
}

.searchBox input[type="text"] {
  width: 80%;
  height: 8vh;
  padding: 10px 40px 10px 55px; /* Add padding to accommodate the search icon */
  font-size: 15px;
  border: 2px solid rgb(92, 184, 166);
  border-radius: 10px;
  outline: none;
  color: rgb(92, 184, 165);
}

.searchBox input[type="text"]::placeholder {
  color: rgb(124, 135, 133);
  font-size: 15px;
  letter-spacing: 2px;
}

.searchIcon {
  position: absolute;
  left: 10px; /* Position icon within the input field */
  background: none;
  border: none;
  color: rgb(92, 184, 165);
  
  cursor: pointer;
}

.searchIcon:hover {
  color: rgb(75, 150, 135); /* Slightly darker shade for hover effect */
}
